# * .gitignore * #

# IDE FILES
.vscode
.ideas
.DS_Store

# PHP files
/vendor/
.phpunit.cache/
.phpunit.cache/test-results
.phpunit.result.cache
phpunit.xml.bak
test-results

# PYTHON files
__pycache__/

# EXCEL files
*.xls
*.xlsx
*.xlsm