# * .gitignore * #

# Ignore the .vscode document
.vscode

# Ignore the .ideas document
.ideas

# Ignore the .DS_Store document
.DS_Store

# Ignore pycache files
__pycache__/
/vendor/
.phpunit.cache
.phpunit.result.cache

# Ignore the Excel files
*.xls
*.xlsx
*.xlsm