@font-face {
  font-family: "Roboto";
  src: url("../typo/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../typo/Roboto/Roboto-Italic.ttf');
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../typo/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../typo/Pacifico-Regular.ttf");
}
:root {
  --black: #2C3131;
  --grey: #d5d5d5;
  --light-grey: #f7f7f7;
  --light-white: #ffffff14;
  --white: #fff;
  --light-blue: #E2E8F8;
  --blue-opacity: #0048fedd;
  --blue: #0046FE;

  --color1: #8A2BE2;
  --color2: #3BF3FF;
  --color3: #11CE00;
  --color4: #F9B61F;
  --color5: #ff0000;

  --font-size-big: 2.618rem;
  --font-size-medium: 1.618rem;
  --font-size-standart: 1rem;
  --font-size-small: 0.618rem;

  --very-small-radius: 6px;
  --small-radius: 8px;
  --radius: 12px;
  --big-radius: 16px;
  --very-big-radius: 24px;
  --gap: 32px;
  
  --navbarre-size: 55px;
  --liste-shadow: -9px 4px 34.4px 7px #0000003B;
  --bulle-shadow: -1px 8px 15px 7px rgba(0, 0, 0, 0.05);
  --small-bulle-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.05);
  --button-shadow: 0 0 0 5px var(--light-blue);
}

* {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-standart);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: calc(var(--font-size-standart) * 1.3);

  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

/******** STYLE PAR DEFAULT ********/
p {
  color: var(--black);
}

h1 {
  color: var(--blue);
  font-size: var(--font-size-big);
  font-family: "Roboto Bold";
  line-height: calc(var(--font-size-big) * 1.3);
}

h2 {
  color: var(--black);
  font-size: var(--font-size-medium);
  font-family: "Roboto Bold";
  line-height: calc(var(--font-size-medium) * 1.3);
}

h3 {
  color: var(--black);
  font-size: var(--font-size-medium);
  line-height: calc(var(--font-size-medium) * 1.3);
}

h4 {
  font-family: 'Roboto Bold';
}

i {
  font-family: 'Roboto Italic';
}

a {
  display: block;
  width: fit-content;
  height: fit-content;

  color: var(--blue);
  font-family: "Roboto Bold";
}
a::selection {
  background-color: transparent;
}

input:focus, .action_button:focus {
  outline: none; 
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;

  display: block;
  width: var(--font-size-standart);
  height: var(--font-size-standart);

  padding: 0;
  background-color: transparent;

  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} 
input[type="radio"]::after {
  border-radius: 50%; 
}
input[type="checkbox"]::after {
  border-radius: 3px; 
}
input[type="radio"]::after,
input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 100%;

  background-color: var(--light-blue);
  transition: background-color 150ms;
}
input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background-color: var(--blue);
}
input[type="radio"]:disabled:hover,
input[type="checkbox"]:disabled:hover {
  cursor: default;
}


textarea {
  padding: var(--radius);

  color: var(--black);
  border: 2px solid var(--blue);
  border-radius: var(--radius);
  background-color: var(--white);

  will-change: box-shadow;
  transition: box-shadow ease 150ms;

  resize: none;
  outline: none;
}
textarea:is(:hover, :focus) {
  box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--very-big-radius);

  /*width: fit-content;*/
  width: 720px;
  height: fit-content;

  padding: var(--gap);

  color: var(--white);
  border-radius: var(--gap);
  background-color: var(--light-white);
}
form p {
  color: var(--white);
}
form h3 {
  color: var(--white);
  text-align: center;
}
form section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--small-radius);

  width: 100%;
}
form input, 
form select {
  /*width: 520px;*/
  width: 100%;
  height: fit-content;

  padding: var(--big-radius) var(--radius);

  border: none;
  border-radius: var(--radius);
  background-color: var(--white);
  box-shadow: none;

  outline: none;
  will-change: box-shadow;
  transition: box-shadow 150ms ease;
}
form input::placeholder,
form select::placeholder,
form textarea::placeholder {
  color: #d8d8d8;
}
form input:is(:hover, :focus),
form select:is(:hover, :focus) {
  border: none;
  box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.2);
}
form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--radius);

  color: var(--blue);
  border: 2px solid var(--white);
  background-color: var(--white);

  will-change: box-shadow;
  transition: box-shadow 150ms ease;
}
form button:is(:hover, :focus) {
  box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.2);
}
form textarea {
  width: 100%;
  height: 160px;

  border: none;
}
.form-section {
  display: flex;
  justify-content: end;

  width: 100%;
  height: fit-content;
}
.form_button {
  width: 100%;
}
form .input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

  width: 100%;
}
form .buttons_actions {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
}
form .double-items {
  display: flex;
  flex-direction: row;
  gap:  var(--radius);

  width: 100%;
  height: fit-content;
}
form .double-items input:not([type="radio"], [type="checkbox"]),
form .double-items .autocomplete,
form .double-items .input-container {
  width: 50%;
}
form .double-items .autocomplete input, 
form .double-items .input-container .autocomplete,
form .double-items .input-container .autocomplete input,
form .double-items .input-container input {
  width: 100%;
}

form .checkbox-liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;
}
form .checkbox-liste .checkbox-item {
  display: flex;
  height: fit-content;
  gap: 10px;
}
form .checkbox-liste .checkbox-item label {
  width: fit-content;
  height: fit-content;
  
  text-wrap: nowrap;
}

.autocomplete {
  position: relative;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  left: 0;
  top: 100%;

  width: 100%;
  height: fit-content;
  max-height: 200px;
  z-index: 1;

  border-radius: var(--radius);
  background-color: white;
  box-shadow: var(--bulle-shadow);

  overflow-y: auto;
}
.autocomplete-items > div {
  padding: var(--small-radius) var(--radius);
  color: #d8d8d8;
  will-change: color;
  transition: color ease 150ms;
}

.autocomplete-items > div:first-child  {
  margin-top: var(--small-radius);
}

.autocomplete-items > div:last-child {
  margin-bottom: var(--small-radius); 
}
.autocomplete-items > div:is(:hover, :focus, .active) {
  color: var(--black);
}

/******** Animations ********/
@keyframes slide-in-right {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(120%);
  }
}
@keyframes infinite-vertical-move {
  0% {
    transform: translateY(-2dvh);
  }
  50% {
    transform: translateY(2dvh);
  }
  100% {
    transform: translateY(-2dvh);
  }
}
/******** SCROLL BARRE ********/
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 4px;
}

/******** ANIMATION DES LIGNES ********/
.LignesHover {
  position: relative;
  width: fit-content;
  color: var(--black);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.LignesHover::selection {
    background-color: transparent;
}
.LignesHover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 2px;

  border-radius: 1px;
  background-color: var(--black);

  transform: scaleX(0);
  will-change: transform;
  overflow-x: hidden;
  transition: transform 150ms ease-in-out;
}
.LignesHover:hover::after {
  transform: scaleX(1);
}

/******** STYLE DES LIENS ET BOUTONS ********/

button,
.action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-radius);

  width: fit-content;
  height: fit-content;

  padding: var(--small-radius) var(--radius);

  color: var(--blue);  
  font-family: "Roboto Bold";
  border: 2px solid var(--blue);
  border-radius: var(--radius);
  background-color: transparent;

  box-shadow: none;
  will-change: box-shadow;
  transition: 150ms ease box-shadow;
}
button p,
.action_button p {
  color: var(--blue);
}
button img,
.action_button img {
  height: 25px;
}

button.reverse_color,
.action_button.reverse_color {
  color: var(--white);
  background-color: var(--blue);
}
button.reverse_color p,
.action_button.reverse_color p {
  color: var(--white);
}
button::selection, 
.action_button::selection {
  background-color: transparent;
}
button:is(:hover, :focus),
.action_button:is(:hover, :focus) {
  box-shadow: var(--button-shadow);
}

button.grey_color, 
.action_button.grey_color {
  color: var(--black);
  border: 2px solid var(--light-grey);
  background-color: var(--light-grey);
}
button.grey_color p,
.action_button.grey_color p {
  color: var(--black);
}
button.grey_color:is(:hover, :focus), 
.action_button.grey_color:is(:hover, :focus) {
  box-shadow: 0 0 0 5px rgba(44, 49, 49, 0.1);
}

button.cancel_button,
.action_button.cancel_button {
  color: var(--white);
  border: var(--color5);
  background-color: var(--color5);
}
button.cancel_button:is(:hover, :focus), 
.action_button.cancel_button:is(:hover, :focus) {
  box-shadow: 0 0 0 5px rgba(254, 0, 0, 0.2);
}

button.form_button, 
.action_button.form_button {
  border: 2px solid var(--white);
  border-radius: var(--radius);
  background-color: var(--white);
}
button.form_button:is(:hover, :focus),
.action_button.form_button:is(:hover, :focus) {
  background-color: var(--white);
  box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.25);
}

/******** Notifications ********/
.notification {
  padding: var(--margin) var(--gap);

  border-radius: var(--radius);
  background-color: var(--white);
  box-shadow: var(--bulle-shadow);
}
.notification-title {
  color: var(--blue);
  font-size: var(--font-size-medium);
  font-family: "Roboto Bold";
}
.notification-content {
  margin: 0;

  color: var(--black);
  font-size: var(--font-size-standart);
  font-family: "Roboto", sans-serif;
}
.notification-actions {
  display: flex;
  justify-content: center;
  gap: 10px; 
  flex-direction: row-reverse; 
}

.notification b {
  font-family: "Roboto Bold";
}

/******** BARRE DE NAVIGATION ********/
.navbarre {
  display: flex;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  height: calc(var(--navbarre-size) + var(--very-big-radius));
  z-index: 1;

  padding: var(--very-big-radius) var(--very-big-radius) 0;
}
.navbarre article {
  display: flex;
  align-items: center;
  gap: var(--big-radius);
}
.navbarre article img {
  width: var(--navbarre-size);
  height: var(--navbarre-size);
}
.navbarre article div p:first-of-type {
  font-family: "Roboto Bold";
}
.navbarre section {
  display: flex;
  gap: var(--small-radius);

  width: fit-content;
  height: fit-content;

  border-radius: var(--small-radius);
}
.navbarre section.action-section {
  padding: 10px;
  background-color: var(--light-grey);
}
.navbarre section a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  border-radius: var(--very-small-radius);
}
.navbarre section a.selected {
  background-color: var(--grey);
}
.navbarre section a.selected:hover::after {
  display: none; 
}
.navbarre section a img {
  height: var(--font-size-medium);
}
.navbarre.formbarre p {
  color: var(--white);
}
.navbarre.formbarre section.action-section {
  background-color: var(--light-white);
}
.navbarre.formbarre section a::after {
  background-color: var(--white); 
}

/******** STYLE DES LISTES D'OBJETS ********/
.liste_items {
  display: flex;
  flex-direction: column;
}
.liste_items .entete {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;
}
.table-wrapper {
  width: 100%;
  overflow-y: auto;
}
.table-wrapper table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0 var(--big-radius);
}
.table-wrapper table thead {
  position: sticky;
  top: var(--big-radius);
  /*top: calc(var(--margin) * 3 / 2);*/
  z-index: 1;
}
.table-wrapper table thead *::selection {
  background-color: transparent;
}
.table-wrapper table th:first-of-type {
  padding-left: var(--big-radius);
}
.table-wrapper table thead th {
  position: relative;
  font-family: "Roboto Bold";
}
.table-wrapper table th {
  width: calc(100% - 2 * var(--small-radius));
  height: 50px;

  padding: 0 var(--small-radius);

  text-align: left;
  text-wrap: nowrap;
}
.table-wrapper table tbody th {
  height: 65px;
}

.table-wrapper table tr {
  position: relative;
  border-spacing: var(--small-radius) 0;
  color: var(--black);
}

.table-wrapper table tr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  z-index: -1;

  border-radius: var(--radius);
}
.table-wrapper table thead tr::before {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.03);
}
.table-wrapper table tbody tr::before {
  width: calc(100% - 4px);
  height: 63px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: none;
  transition: color 250ms ease, border-color 250ms ease, background-color 250ms ease, box-shadow 250ms ease;
}
.table-wrapper table tbody tr:is(:hover, :focus) {
  color: var(--white);
}
.table-wrapper table tbody tr:is(:hover, :focus)::before {
  border-color: var(--blue);
  background-color: var(--blue);
  box-shadow: var(--liste-shadow);
}
.table-wrapper table thead tr th:is(:hover, :focus)::after,
.table-wrapper table thead tr th.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: var(--small-radius);

  display: block;
  width: 20px;
  height: 20px;

  border-radius: var(--radius);
  transform: translateY(-50%);
  background-image: url("../img/fleche.svg");
  background-size: contain;
}
.table-wrapper table thead tr th.reverse-tri::after {
  transform: translateY(-50%) rotate(180deg);
}

/******** BULLES ********/
.bulles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}
.bulles > *::selection {
    background-color: transparent;
}
.bulles .bulle-container {
  display: flex;
  flex-direction: column;

  margin-top: var(--radius);

  border-radius: var(--big-radius);
  background-color: var(--blue);
}
.bulles .table-wrapper table {
  border-spacing: var(--radius);
}
.bulles .table-wrapper table thead th {
  height: calc(var(--font-size-standart) * 1.8);
  color: var(--white);
}
.bulles .table-wrapper table tbody th {
  height: calc(var(--font-size-standart) * 1.5);
  color: var(--white);
}
.bulles .table-wrapper table tr::before {
  display: none;
}
.bulles .table-wrapper table th:first-of-type {
  padding-left: var(--radius);
}
.bulles .table-wrapper table thead tr th:is(:hover, :focus)::after,
.bulles .table-wrapper table thead tr th.active::after {
  display: none;
}
/*
.bulles .boutons {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: var(--margin);
  height: var(--padding);
  margin: 0 var(--gap) var(--margin) 0;
}
.bulles .boutons a {
  color: var(--white);
}
.bulles .boutons .fleche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size-standart);
  height: var(--font-size-standart);
  overflow: hidden;
}
.bulles .boutons .fleche span {
  position: relative;
  display: block;
  width: var(--font-size-standart);
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--white);
}
.bulles .boutons .fleche span::before,
.bulles .boutons .fleche span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: calc(var(--font-size-standart) * 2 / 3);
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--white);
  transform-origin: right;
}
.bulles .boutons .fleche span::before {
  transform: translateY(-50%) rotate(45deg);
}
.bulles .boutons .fleche span::after {
  transform: translateY(calc(-50% + 1px)) rotate(-45deg);
}
*/

.number_bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 208px;
  height: 186px;

  padding: var(--big-radius);

  border-radius: var(--big-radius);
  background-color: var(--white);

  box-shadow: var(--small-bulle-shadow);
}
.number {
  text-align: right;
  font-family: 'Roboto Bold';
  font-size: 67.75px;
  line-height: 50px;
}

.dashboard_bubble {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  width: 432px;
  height: 186px;

  padding: var(--big-radius);

  border-radius: var(--big-radius);
  background-color: var(--white);

  box-shadow: var(--small-bulle-shadow);
}
.dashboard_bubble article {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: fit-content;
}
