body {
    width: 100dvw;
    height: 100vh;
    overflow: hidden;
}

body > content {
    display: flex;

    width: 100dvw;
    height: calc(100% - (var(--navbarre-size) + var(--very-big-radius)));

    padding-left: var(--very-big-radius);
    padding-bottom: var(--very-big-radius);
}

/******** Footer - Versionning ********/
.versionning {
    width: 100%;
    margin-top: auto;
    text-align: right;
}

/******** Barre de préférences ********/
body > content > aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--big-radius);

    width: 340px;
    height: calc(100% - var(--very-big-radius));

    margin-top: var(--very-big-radius);
    padding: var(--very-big-radius);

    border-radius: var(--very-big-radius);
    background-color: var(--blue);
}
body > content > aside article {
    display: flex;
    flex-direction: column;
    gap: var(--radius);

    width: 100%;
    height: fit-content;
}
body > content > aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
}
body > content > aside header img {
    width: var(--font-size-medium);
}
body > content > aside header h2 {
    color: var(--white);
}

body > content > aside content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--radius);

    width: 100%;
    height: fit-content;
}
body > content > aside content a {
    color: var(--white);
    font-family: "Roboto";
}
body > content > aside content a.selected,
body > content > aside content a:is(:hover, :focus) {
    font-family: "Roboto Bold";
}

/******** Main ********/
#user_profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--big-radius);

    width: calc(100% - 340px);
    height: fit-content;
    max-height: 100%;
    
    padding-left: var(--gap);
    padding-bottom: var(--very-big-radius);
    margin-top: var(--very-big-radius);

    overflow-x: hidden;
    overflow-y: scroll;
}

body > content > main {
    width: 100%;
    height: 100%;
}

body > content > main .candidatures-menu {
    width: calc(100% - 340px + var(--very-big-radius));
    background: linear-gradient(195deg, var(--white), 75%, var(--light-blue));
    background-attachment: fixed;
}

.liste_items {
    padding-bottom: var(--very-big-radius);
}
/*
#burger_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc((var(--font-size-standard) + 2 * var(--small-radius)) * 1.3);
    height: calc((var(--font-size-standard) + 2 * var(--small-radius)) * 1.3);

    padding: 0;

    border-radius: 50%;

    transition: transform 250ms ease;
}
#burger_button span {
    position: relative;
    width: 60%;
}
#burger_button span:before,
#burger_button span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}
#burger_button span, 
#burger_button span:before,
#burger_button span:after {
    height: 2px;

    border-radius: 2px;
    background-color: var(--white);
}
#burger_button span:before, 
#burger_button span:after {
    transition: transform 250ms ease;
}
#burger_button span:before {
    transform: translateY(-7px);
}
#burger_button:hover span:before {
    transform: translateY(-6px);
}
#burger_button span:after {
    transform: translateY(7px);
}
#burger_button:hover span:after {
    transform: translateY(6px);
}
#burger_button.activated {
    transform: rotate(-90deg);
}

footer .action_button.hidden {
    display: none;
}
    */