.liste_items .table-wrapper table th:nth-of-type(2) {
    padding-left: calc(var(--gap) +  4px);
}
.liste_items .table-wrapper table th:nth-of-type(2)::before {
    content: "";
    position: absolute;
    left: var(--big-radius);
    top: 50%;

    display: block;
    width: var(--font-size-small);
    height: var(--font-size-small);
    z-index: 0;
    
    border-radius: var(--font-size-small);
    transform: translateY(-50%);
}
.liste_items .table-wrapper table tbody tr.medical-staff th:nth-of-type(2)::before {
    background-color: var(--color4);
}
.liste_items .table-wrapper table tbody tr.not-medical-staff th:nth-of-type(2)::before {
    background-color: var(--color2);
}