body {
    width: 100dvw;
    height: 100dvh;

    background-image: url('../../assets/img/background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

form {
    position: fixed;
    left: 50%;
    bottom: 0;

    height: 85dvh;
    padding: var(--padding) 0;

    border-radius: var(--big-radius) var(--big-radius) 0 0;

    transform: translateX(-50%);
}
form .form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--gap);

    width: 100%;
    height: 100%;

    padding: var(--gap);

    overflow-y: scroll;
}
form section {
    padding: 0 var(--padding);
}
form section:not(:first-of-type) {
    margin-top: var(--radius);
}