.liste_items .table-wrapper table th:first-of-type {
    padding-left: var(--padding);
}
.liste_items .table-wrapper table th:first-of-type::before {
    content: "";
    position: absolute;
    left: var(--margin);
    top: 50%;
  
    display: block;
    width: var(--font-size-small);
    height: var(--font-size-small);
    z-index: 0;
    
    border-radius: var(--font-size-small);
    transform: translateY(-50%);
}
.liste_items .table-wrapper table tbody tr.candidat th:first-of-type::before {
    background-color: var(--color4);
}
.liste_items .table-wrapper table tbody tr.utilisateur th:first-of-type::before {
    background-color: var(--color2);
}
.liste_items .table-wrapper table tbody tr.candidature th:first-of-type::before {
    background-color: var(--color3);
}
.liste_items .table-wrapper table tbody tr.fondation th:first-of-type::before{
    background-color: var(--color5);
}