.liste_items .table-wrapper table th:first-of-type, 
.liste_items .table-wrapper table th:nth-of-type(7), 
.liste_items .table-wrapper table th:nth-of-type(8) {
    padding-left: var(--padding);
}
.liste_items .table-wrapper table th:first-of-type::before, 
.liste_items .table-wrapper table th:nth-of-type(7)::before, 
.liste_items .table-wrapper table th:nth-of-type(8)::before {
    content: "";
    position: absolute;
    left: var(--margin);
    top: 50%;
  
    display: block;
    width: var(--font-size-small);
    height: var(--font-size-small);
    z-index: 0;
    
    border-radius: var(--font-size-small);
    transform: translateY(-50%);
}
.liste_items .table-wrapper table tbody tr.en-attente th:first-of-type::before, 
.liste_items .table-wrapper table tbody tr.hublo th:nth-of-type(7)::before {
    background-color: var(--color2);
}
.liste_items .table-wrapper table tbody tr.non-traitee th:first-of-type::before, 
.liste_items .table-wrapper table tbody tr.hellowork th:nth-of-type(7)::before {
    background-color: var(--color4);
}
.liste_items .table-wrapper table tbody tr.acceptee th:first-of-type::before, 
.liste_items .table-wrapper table tbody tr.email th:nth-of-type(7)::before, 
.liste_items .table-wrapper table tbody tr th:nth-of-type(8)::before {
    background-color: var(--color3);
}
.liste_items .table-wrapper table tbody tr.refusee th:first-of-type::before, 
.liste_items .table-wrapper table tbody tr.telephone th:nth-of-type(7)::before, 
.liste_items .table-wrapper table tbody tr.date_depassee th:nth-of-type(8)::before {
    background-color: var(--color5);
}