body{
    width: 100dvw;
    height: 100dvh;

    overflow: hidden;

    background: linear-gradient(175deg, var(--white), 75%, var(--light-blue));
}
body > content {
    display: flex;

    width: 100dvw;
    height: calc(100% - (var(--navbarre-size) + var(--very-big-radius)));

    padding: var(--very-big-radius) var(--very-big-radius) 0 var(--very-big-radius);
}

aside {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-width: 460px;
    max-width: 540px;
    height: calc(100dvh - (var(--navbarre-size) + 3 * var(--very-big-radius)));

    padding: 32px;

    border-radius: 32px;
    background-color: var(--blue);
}
aside h2, 
aside h3, 
aside p {
    color: var(--white);
}
aside header, aside section {
    width: 100%;
}
aside footer {
    display: flex;
    justify-content: right;
    align-items: end;
    gap: var(--radius);

    width: 100%;
}
aside footer .action_button.reverse_color {
    border: 2px solid var(--white);
}
aside footer .action_button.reverse_color:is(:hover, :focus) {
    box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.25);
}

aside .aside-wrapper {
    display : flex;
    flex-direction: column;
    justify-content: start;
    gap: 48px;
    
    width: 100%;
    height: fit-content;

}
aside header h2 {
    font-size: 2.48rem;
}
aside header h3 {
    font-size: var(--font-size-medium);
}
aside .aside-wrapper section {
    display: flex;
    flex-direction: column;
    gap: var(--very-small-radius);

    height: fit-content;
}
aside .aside-wrapper section > div {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
}
aside .aside-wrapper section > div > div {
    max-width: 75%;
    text-align: right;
}
aside .aside-wrapper section > div > p:first-of-type {
    font-family: 'Roboto Medium';
}
aside .aside-wrapper section > div > p:not(:first-of-type) {
    text-align: end;
}

.tab_barre {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--big-radius);

    height: fit-content;
    z-index: 1;

    padding-left: var(--very-big-radius);

    background: linear-gradient(175deg, var(--white), 75%, var(--light-blue));
    background-attachment: fixed;
}
.tab_barre p {
    position: relative;

    height: var(--gap);
    padding: 0;

    border: none;
    color: var(--grey);
    background-color: transparent;

    cursor: pointer;

    will-change: color;
    transition: color ease 150ms;
}
.tab_barre p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: var(--blue);

    transform: scaleX(0);

    will-change: transform;
    transition: transform ease 150ms;
}
.tab_barre p:hover {
    color: var(--grey);
    background-color: transparent;
    box-shadow: none;
}
.tab_barre p:hover::before,
.tab_barre p.active::before {
    transform: scaleX(1);
}
.tab_barre p.active {
    color: var(--black);
}

body > content > main {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}
main > section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--big-radius);

    height: auto;

    padding: var(--radius) 0 var(--radius) var(--very-big-radius);

    overflow-x: hidden;
    overflow-y: scroll;
}
main > section .bulles .bulle-container {
    background-color: var(--blue-opacity);
    z-index: 0;
}
main section .contrats_bulle,
main section .propositions_bulle,
main section .candidatures_bulle,
main section .meeting_bubble {
    display: flex;
    flex-direction: column;
    gap: var(--radius);

    width: 420px;
    height: 360px;

    padding: var(--big-radius);

    border-radius: var(--big-radius);
    border: 2px solid var(--light-grey);
    background-color: var(--white);
    box-shadow: var(--small-bulle-shadow);

}
main section .contrats_bulle article p,  
main section .propositions_bulle article p,  
main section .candidatures_bulle article p {
    position: relative;
    width: fit-content;
}
main section .contrats_bulle article p::before,
main section .propositions_bulle article p::before,
main section .candidatures_bulle article p::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: var(--font-size-standart);
    height: var(--font-size-standart);

    border-radius: 50%;

    transform: translate(var(--very-big-radius), -50%);
}
main section content div {
    display: flex;
    justify-content: space-between;
    align-items: top;

    width: 100%;
    height: fit-content;
}
main section content div > p:first-of-type {
    font-family: 'Roboto Bold';
}
main section content div article {
    display: flex;
    flex-direction: column;
    align-items: end;
} 
main section .contrats_bulle footer,
main section .propositions_bulle footer,
main section .candidatures_bulle footer,
main section .meeting_bubble footer {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: var(--big-radius);

    margin-top: auto;
}

#rating_bubble {
    position: relative;
}
#rating_bubble content {
    display: flex;

    width: 100%;
    height: 100%;
}
#rating_bubble content article {
    display: flex;
    flex-direction: column;
    gap: var(--small-radius);

    width: fit-content;
    height: fit-content;

    margin-top:  var(--small-radius);
}
#rating_bubble content article div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--small-radius);
}
#rating_bubble .number {
    position: absolute;
    bottom: var(--big-radius);
    right: var(--big-radius);;
}

/* On ajoute les codes couleurs */
main section .contrats_bulle article p.a_venir::before {
    background-color: var(--color4);
}
main section .contrats_bulle article p.termine::before {
    background-color: var(--color3);
}
main section .contrats_bulle article p.en_cours::before {
    background-color: var(--color2);
}
main section .contrats_bulle article p.refusee::before {
    background-color: var(--color5);
}
main section .propositions_bulle article p.acceptee::before {
    background-color: var(--color3);
}
main section .propositions_bulle article p.refusee::before {
    background-color: var(--color5);
}
main section .propositions_bulle article p.en-attente::before {
    background-color: var(--color2);
}
main section .candidatures_bulle article p.acceptee::before {
    background-color: var(--color3);
}
main section .candidatures_bulle article p.refusee::before {
    background-color: var(--color5);
}
main section .candidatures_bulle article p.en-attente::before {
    background-color: var(--color2);
}
main section .candidatures_bulle article p.non-traitee::before {
    background-color: var(--color4);
}

/*
.grid {
    display: flex;
    justify-content: start;
    gap: var(--gap);
    flex-wrap: wrap;

    width: 100%;
}
.grid .notation_bulle {
    padding: calc(var(--gap) * 4 / 3) var(--gap);

    border-radius: var(--radius);
    border: 2px solid var(--light-grey);
    background-color: var(--white);
    box-shadow: var(--small-bulle-shadow);
}
.grid > .notation_bulle {
    display: flex;
    flex-direction: column;
    gap: var(--margin);

    width: 520px;
    height: fit-content;
}
.grid article {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    width: 520px;
}
.grid article .notation_bulle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
}
#carcatéristiques {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap:var(--margin);
}
#carcatéristiques content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: calc(var(--margin) / 3);
}
#carcatéristiques content p {
    margin-right: calc(var(--margin) / 2);
}
#carcatéristiques content input[type="checkbox"] {
    cursor: default;
}
.grid .notation_bulle .notation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: calc(var(--margin) / 2);
}
.grid .notation_bulle .notation img {
    opacity: 0.25;
}
.grid .notation_bulle .notation .bille_notation.active img {
    opacity: 1;
}

*/
.add_button {
    position: fixed;
    bottom: var(--very-big-radius);
    right: var(--very-big-radius);
}
.add_button:is(:hover, :focus) {
    box-shadow: 0 0 0 5px rgba(254, 254, 254, 0.85);
}

/* Gestion de la navigation intra onglets */
.onglet {
    display: none;
}
.onglet.active {
    display: flex;
}