body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

content {
  display: flex;
  width: 100%;
  height: calc(100dvh - var(--nav-barre-size));
}
content > .liste_items {
  width: 65%;
  height: 100%;
  padding-top: var(--padding);
}
content > .liste_items .entete {
  padding-left: var(--padding);
  padding-right: var(--gap);
}
content > .liste_items .table-wrapper {
  height: calc(100dvh - (var(--nav-barre-size) + var(--gap)));
  padding-left: var(--padding);
  padding-right: var(--gap);
  overflow-y: auto;
}

aside {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);

  width: 35%;
  min-width: 600px;

  padding: var(--padding) var(--padding) var(--gap) var(--margin);

  overflow-y: scroll;
}

