body {
    width: 100dvw;
    height: 100vh;
    overflow: hidden;

    background: linear-gradient(195deg, var(--white), 75%, var(--light-blue));
}

body > content {
    display: flex;

    width: 100dvw;
    height: calc(100% - (var(--navbarre-size) + var(--very-big-radius)));

    padding: 0 var(--very-big-radius) var(--very-big-radius);
}

/******** Barre de préférences ********/
body > content > aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--big-radius);

    width: 340px;
    height: calc(100% - var(--very-big-radius));

    margin-top: var(--very-big-radius);
    padding: var(--very-big-radius);

    border-radius: var(--very-big-radius);
    background-color: var(--blue);
}
body > content > aside article {
    display: flex;
    flex-direction: column;
    gap: var(--very-big-radius);

    width: 100%;
    height: fit-content;
}
body > content > aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
}
body > content > aside header img {
    width: var(--font-size-medium);
}
body > content > aside header h2 {
    color: var(--white);
}

body > content > aside content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--radius);

    width: 100%;
    height: fit-content;
}
body > content > aside content a {
    color: var(--white);
    font-family: "Roboto";
}
body > content > aside content a.selected,
body > content > aside content a:is(:hover, :focus) {
    font-family: "Roboto Bold";
}

/******** Main ********/
#profil-user {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    width: 100%;
    height: 100%;

    padding-left: var(--gap);
    padding-top: var(--very-big-radius);

    overflow-y: scroll;
}
#profil-user .left,
#profil-user .right  {
    width: 540px;
} 
#profil-user .left {
    height: fit-content;
}
#profil-user .right {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--gap));

    height: auto;
}
#profil-user .left > div {
    display: flex;
    flex-direction: column;
    gap: var(--big-radius);

    width: 100%; 
    height: fit-content;

    padding: var(--big-radius);

    border-radius: var(--big-radius);
    box-shadow: var(--small-bulle-shadow);
    background-color: var(--white);
}
#profil-user .left > div content div {
    display: flex;
    width: 100%;
}
#profil-user .left > div content div p:first-of-type {
    width: 25%;
}
#profil-user .left > div footer {
    display: flex;
    justify-content: end;
    align-items: end;
}

body > content > main {
    width: 100%;
    height: 100%;
}

body > content > main .candidatures-menu {
    width: calc(100% - 340px + var(--very-big-radius));
}

/*
#liste-utilisateurs .liste_items .table-wrapper table th:first-of-type {
    padding-left: var(--gap);
}
#liste-utilisateurs .liste_items .table-wrapper table th:first-of-type::before {
    content: "";
    position: absolute;
    left: var(--big-radius);
    top: 50%;

    display: block;
    width: var(--font-size-small);
    height: var(--font-size-small);
    z-index: 0;
    
    border-radius: var(--font-size-small);
    transform: translateY(-50%);
}
#liste-utilisateurs .liste_items .table-wrapper table tbody tr.moderateur th:first-of-type::before {
    background-color: var(--color2);
}
#liste-utilisateurs .liste_items .table-wrapper table tbody tr.administrateur th:first-of-type::before {
    background-color: var(--color4);
}
#liste-utilisateurs .liste_items .table-wrapper table tbody tr.utilisateur th:first-of-type::before {
    background-color: var(--color3);
}
#liste-utilisateurs .liste_items .table-wrapper table tbody tr.invite th:first-of-type::before {
    background-color: var(--color5);
}*/